.about {
  padding: 30px;

  @media (min-width: $vp-768) {
    padding: 55px 50px 83px;
  }

  @media (min-width: $vp-1150) {
    padding: 68px 49px 90px 225px;
  }
}

.about__container {
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    max-width: 768px;
  }

  @media (min-width: $vp-1150) {
    max-width: 960px;
  }
}

.about__title {
  margin: 0 0 28px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    margin: 0 0 41px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: grid;

    gap: 55px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.about__item {
  position: relative;

  padding-top: 83px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  &--ecology::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 7px;

    width: 33px;
    height: 38px;

    background-image: url("../img/about-ecology-icon.svg");
  }

  &--style::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;

    width: 47px;
    height: 27px;

    background-image: url("../img/about-style-icon.svg");
  }

  &--likes::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 7px;

    width: 34px;
    height: 27px;

    background-image: url("../img/about-likes-icon.svg");
  }

  &--feelings::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;

    width: 35px;
    height: 34px;

    background-image: url("../img/about-feelings-icon.svg");
  }

  &--support::before {
    content: "";
    position: absolute;
    top: 28px;
    left: -7px;

    width: 55px;
    height: 23px;

    background-image: url("../img/about-support-icon.svg");
  }

  &--packaging::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 0;

    width: 33px;
    height: 32px;

    background-image: url("../img/about-packaging-icon.svg");
  }

  @media (min-width: $vp-768) {
    padding-top: 55px;

    font-size: 20px;
    line-height: 22px;

    &::before {
      top: 0;
    }

    &--ecology {
      order: 1;
    }

    &--style {
      order: 3;
    }

    &--likes {
      order: 5;
      padding-top: 48px;
    }

    &--feelings {
      order: 2;
    }

    &--support {
      order: 4;
    }

    &--packaging {
      order: 6;
    }
  }
}
