.about {
  padding: 30px;
}

.about__title {
  margin: 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about__item {
  padding-top: 83px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}
