.about {
  padding: 30px;

  @media (min-width: $vp-768) {
    padding: 55px 50px 83px;
  }

  @media (min-width: $vp-1150) {
    padding: 68px 225px 90px;
  }
}

.about__title {
  margin: 0 0 28px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    margin: 0 0 41px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  @include list-reset;

  @media (min-width: $vp-768) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
  }
}

.about__item {
  padding-top: 54px;

  font-weight: 700;
  font-size: 17px;
  line-height: 20px;

  @media (min-width: $vp-768) {
    padding-top: 56px;

    font-size: 20px;
    line-height: 22px;
  }
}
