.contacts {
  padding: 38px 0 39px;
}

.contacts__title {
  margin: 0 29px 28px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.contacts__info-list {
  margin: 0 29px 62px;
}

.contacts__info-property {
  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;
}

.contacts__info-value {
  margin: 0;

  font-size: 14px;
  line-height: 30px;
  color: $color-charcoal;
}

.contacts-info-email {
  color: inherit;
  text-decoration: none;
}

.contacts__map {
  margin-bottom: 42px;

  background-image: url("../images/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__button {
  display: block;
  margin: 0 30px;
}
