.footer {
  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 51px 50px 58px;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.footer__socials-list {
  @include list-reset;

  min-height: 80px;
  padding: 25px 30px 28px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.footer__developer {
  min-height: 80px;
  padding: 30px 30px 30px 69px;

  @media (min-width: $vp-768) {
    padding: 0;
  }
}

.footer__developer-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
