.footer {
  min-height: 160px;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    min-height: 143px;
    padding: 51px 50px 58px;
  }
}

.footer__wrapper {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30px;
    right: 30px;
    height: 1px;
    background-color: $color-whisper-mod;
  }


  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      display: none;
    }
  }
}

.footer__logo {
  display: none;

  @media (min-width: $vp-768) {
    display: block;

    line-height: 0;

    &:hover svg {
      fill: $color-puerto-rico-mod;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

.footer__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 25px 30px 28px;

  list-style: none;

  gap: 11.15%;

  @media (min-width: $vp-768) {
    justify-content: space-between;
    min-width: 142px;
    min-height: auto;
    padding: 0;
  }
}

.footer__socials-item {
  display: flex;
  align-items: center;
}

.footer__socials-link {
  line-height: 0;

  &:hover svg {
    stroke: $color-puerto-rico-mod;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer__developer {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 23px 21.56%;

  gap: 27px;

  @media (min-width: $vp-768) {
    min-height: auto;
    padding: 0;
  }
}

.footer__developer-link {
  line-height: 0;

  &:hover svg {
    fill: $color-puerto-rico-mod;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer__developer-text {
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
}
