.footer {
  min-height: 160px;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    min-height: 143px;
    padding: 53px 50px 58px 50px;
  }

  @media (min-width: $vp-1150) {
    min-height: 143px;
    padding: 49px 50px 58px 50px;
  }
}

.footer__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;

  @media (min-width: $vp-768) {
    display: block;

    line-height: 0;

    &:hover svg {
      fill: $color-puerto-rico-mod;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

.footer__socials-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 80px;
  margin: 0;
  padding: 25px 30px 28px;

  list-style: none;

  column-gap: 11.15%;
  row-gap: 10px;

  &::after {
    content: "";
    position: absolute;
    right: 30px;
    left: 30px;
    bottom: 0;

    height: 1px;

    background-color: $color-whisper-mod;
  }

  @media (min-width: $vp-768) {
    max-width: 200px;
    min-height: auto;
    padding: 0;

    column-gap: 29px;

    &::after {
      display: none;
    }
  }
}

.footer__socials-item {
  display: flex;
  align-items: center;
}

.footer__socials-link {
  line-height: 0;

  &:hover svg {
    stroke: $color-puerto-rico-mod;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.footer__developer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80px;
  padding: 23px 21.56%;

  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: inherit;
  text-decoration: none;

  gap: 27px;

  & svg {
    min-width: 27px;
    min-height: 35px;
  }

  &:hover svg {
    fill: $color-puerto-rico-mod;
  }

  &:active svg {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    min-height: auto;
    max-width: 200px;
    padding: 0;
  }
}
