.form-group {
  margin: 0 0 33px;
  padding: 0;

  border: none;

  &--optional {
    margin-bottom: 17px;
  }

  &--dark {
    @media (min-width: $vp-768) {
      background-color: $color-white-smoke;
    }
  }

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 50px;

    &--telephone {
      margin-bottom: 24px;
      padding: 0;
    }

    &--telephone .form-group__title {
      margin: 0;
    }

    &--email {
      padding: 0;
    }

    &--email .form-group__title {
      margin: 0;
    }
  }

  @media (min-width: $vp-1150) {
    margin: 0;
    padding: 48px 225px 52px 97px;

    &--color {
      padding-right: 186px;
    }

    &--telephone {
      margin-bottom: 24px;
      padding: 0;
    }

    &--email {
      padding: 0;
    }
  }
}

.form-group__container {
  @media (min-width: $vp-1150) {
    max-width: 828px;
    margin: 0 auto;
  }
}

.form-group__container-color {
  @media (min-width: $vp-1150) {
    max-width: 867px;
    margin: 0 auto;
  }
}


.form-group__wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;

    &--telephone {
      align-items: center;
    }

    &--email {
      align-items: center;
    }
  }
}

.form-group__title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-top: 16px;
  }

  &--telephone {
    margin-bottom: 5px;
  }

  &--email {
    margin-bottom: 5px;
  }

  &--optional {
    margin-bottom: 23px;
  }
}

.form-group__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    width: 74.86%;

    &--type {
      flex-direction: column;

      column-gap: 52px;

      row-gap: 24px;
    }

    &--color {
      column-gap: 52px;

      row-gap: 24px;
    }

    &--full-name {
      flex-direction: column;
    }
  }

  @media (min-width: $vp-1150) {
    width: 84.54%;

    &--color {
      width: 86.1%;
    }
  }
}

.form-group__control {
  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    width: 74.86%;

    &--full-name {
      width: 100%;
    }
  }

  @media (min-width: $vp-1150) {
    width: 84.54%;

    &--full-name {
      width: 100%;
    }
  }
}

.form-group__control-input {
  display: none;
}

.form-group__control-label {
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $vp-768) {
    margin-right: 24px;

    font-size: 19px;
  }
}

.form-group__text {
  display: inline-block;
  padding-left: 61px;

  font-weight: 700;
  line-height: 18px;

  @media (min-width: $vp-768) {
    padding-left: 82px;

    font-size: 19px;
    line-height: 18px;
  }
}

.form-group__text-input {
  width: 100%;
  min-height: 52px;

  background-color: $color-transparent;
  border: none;
  border-bottom: 2px solid $color-default-black;

  @media (min-width: $vp-768) {
    text-indent: 18px;
  }
}

.form-group__optional-input {
  width: 100%;
  min-height: 142px;
  padding: 17px;

  border: 2px solid #444444;

  @media (min-width: $vp-768) {
    display: block;
  }
}

.form-group__type-item {
  display: flex;
  align-items: center;
  min-height: 52px;
}

.form-group__type-item .form-group__control {
  display: flex;
}

.form-group__color-item .form-group__control {
  display: flex;
}

.form-group__type-item:not(:last-child) {
  margin-bottom: 11px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.form-group__color-item {
  display: flex;
  align-items: center;
  min-height: 52px;

  @media (min-width: $vp-768) {
    min-width: 210px;
  }
}

.form-group__color-item:not(:last-child) {
  margin-bottom: 23px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.form-group__full-name-item:not(:last-child) {
  margin-bottom: 22px;

  @media (min-width: $vp-768) {
    margin-bottom: 24px;;
  }
}
