.form-group {
  margin: 0;
  padding: 0;

  border: none;

  &--type {
    margin-bottom: 21px;
  }

  &--color {
    margin-bottom: 22px;
  }

  &--full-name {
    margin-bottom: 26px;
  }

  &--phone {
    margin-bottom: 30px;
  }

  &--email {
    margin-bottom: 30px;
  }

  &--optional {
    margin-bottom: 11px;
  }

  &--dark-theme {
    @media (min-width: $vp-768) {
      background-color: $color-white-smoke;
    }
  }

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 50px;

    &--phone {
      margin-bottom: 24px;
      padding: 0;
    }

    &--phone .form-group__title {
      margin: 0;
    }

    &--email {
      padding: 0;
    }

    &--email .form-group__title {
      margin: 0;
    }

    &--optional {
      padding-bottom: 54px;
    }
  }

  @media (min-width: $vp-1150) {
    margin: 0;
    padding: 50px 225px 50px 114px;

    &--color {
      padding-right: 186px;
    }

    &--phone {
      margin-bottom: 24px;
      padding: 0;
    }

    &--email {
      padding: 0;
    }
  }
}

.form-group__container {
  @media (min-width: $vp-1150) {
    max-width: 828px;
    margin: 0 auto;
  }
}

.form-group__container-color {
  @media (min-width: $vp-1150) {
    max-width: 867px;
    margin: 0 auto;
  }
}

.form-group__wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    left: 0;
    z-index: -1;

    height: 1px;

    background-color: $color-downy-mod;
  }

  @media (min-width: $vp-768) {
    &::after {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;

    &--phone {
      align-items: center;
    }

    &--email {
      align-items: center;
    }
  }
}

.form-group__title {
  display: inline-block;
  margin: 0;
  padding-right: 20px;

  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: $color-downy;
  text-transform: uppercase;

  background-color: $color-default-white;

  &--type {
    margin-bottom: 27px;
  }

  &--color {
    margin-bottom: 18px;
  }

  &--full-name {
    margin-bottom: 26px;
  }

  &--phone {
    margin-bottom: 5px;
  }

  &--email {
    margin-bottom: 5px;
  }

  &--optional {
    margin-bottom: 23px;
  }

  @media (min-width: $vp-768) {
    margin-top: 16px;

    background-color: $color-transparent;

    &--optional {
      margin-top: 20px;
    }
  }
}

.form-group__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    width: 74.86%;

    &--type {
      flex-direction: column;

      column-gap: 52px;

      row-gap: 24px;
    }

    &--color {
      column-gap: 52px;

      row-gap: 23px;
    }

    &--full-name {
      flex-direction: column;
    }
  }

  @media (min-width: $vp-1150) {
    width: 86.2%;

    &--color {
      width: 86.8%;
    }
  }
}

.form-group__control {
  position: relative;

  cursor: pointer;

  &--phone {
    position: static;
  }

  &--phone svg {
    position: absolute;
    right: 7px;
    bottom: 17px;

    pointer-events: none;
  }

  &--email {
    position: static;
  }

  &--email svg {
    position: absolute;
    right: 3px;
    bottom: 15px;

    pointer-events: none;
  }

  &:hover .form-group__control-mark {
    border-color: $color-downy-mod;
  }

  &:active .form-group__control-mark {
    border-color: rgba($color-charcoal, 0.3);
  }

  &:hover .form-group__control-input:disabled ~ * {
    border-color: rgba($color-charcoal, 0.1);
  }

  @media (min-width: $vp-768) {
    display: flex;
    align-items: center;
    width: 74.86%;

    &--phone svg {
      right: 27px;
      bottom: 16px;
    }

    &--email svg {
      right: 22px;
      bottom: 14px;
    }

    &--full-name {
      width: 100%;
    }
  }

  @media (min-width: $vp-1150) {
    width: 86.5%;

    &--phone svg {
      right: 8px;
      bottom: 19px;
    }

    &--email svg {
      right: 5px;
      bottom: 18px;
    }

    &--full-name {
      width: 100%;
    }
  }
}

.form-group__control-mark {
  position: absolute;
  top: 45%;
  left: 0;

  border: 2px solid $color-default-black;
  transform: translateY(-50%);

  &--radio {
    width: 40px;
    height: 40px;

    border-radius: 50%;
  }

  &--checkbox {
    width: 38px;
    height: 38px;
  }

  &:hover {
    border-color: $color-downy-mod;
  }

  &:active {
    border-color: rgba($color-charcoal, 0.3);
  }

  @media (min-width: $vp-768) {
    &--radio {
      left: 3px;

      width: 48px;
      height: 48px;
    }

    &--checkbox {
      left: -1px;

      width: 52px;
      height: 52px;
    }
  }
}

.form-group__control-input {
  &:focus + .form-group__control-mark {
    border-color: $color-downy-mod;
  }

  &:disabled ~ * {
    color: rgba($color-charcoal, 0.1);
    border-color: rgba($color-charcoal, 0.1);
  }
}

.form-group__control-input[type="radio"]:checked + .form-group__control-mark--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 18px;

  background-color: $color-downy-mod;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: $vp-768) {
    width: 22px;
    height: 22px;
  }
}

.form-group__control-input[type="checkbox"]:checked + .form-group__control-mark--checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 24px;
  height: 17px;

  background-image: url("../img/background/form-group/form-group-checkbox-small.svg");
  transform: translateX(-50%) translateY(-50%);

  @media (min-width: $vp-768) {
    width: 32px;
    height: 22px;

    background-image: url("../img/background/form-group/form-group-checkbox-big.svg");
  }
}

.form-group__control-label {
  position: relative;

  font-weight: 700;
  line-height: 18px;

  @media (min-width: $vp-768) {
    margin-right: 24px;

    font-size: 19px;
  }
}

.form-group__text {
  display: inline-block;
  padding-left: 61px;

  font-weight: 700;
  line-height: 18px;

  @media (min-width: $vp-768) {
    padding-left: 80px;

    font-size: 19px;
    line-height: 18px;
  }
}

.form-group__text-input {
  display: block;
  width: 100%;
  min-height: 52px;
  padding-right: 40px;
  padding-bottom: 7px;

  font-size: 19px;
  line-height: 18px;
  color: $color-charcoal;

  background-color: $color-transparent;
  border: none;
  border-bottom: 2px solid $color-default-black;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $color-default-black;

    opacity: 0.3;
  }

  &:hover {
    border-color: $color-downy-mod;
  }

  &:hover ~ svg {
    opacity: 1;

    fill: $color-downy-mod;
  }

  &:focus {
    border-color: $color-downy-mod;
    outline: none;
  }

  &:focus ~ svg {
    opacity: 1;

    fill: $color-downy-mod;
  }

  &:active {
    border-color: $color-downy-mod;
  }

  &:active ~ svg {
    opacity: 1;

    fill: $color-downy-mod;
  }

  &:disabled {
    border-color: rgba($color-charcoal, 0.1);
  }

  &:disabled::placeholder {
    opacity: 0.1;
  }

  &:disabled ~ svg {
    opacity: 0.1;
    fill: $color-default-black;
  }

  @media (min-width: $vp-768) {
    padding-bottom: 0;
    padding-left: 18px;

    &::placeholder {
      font-size: 19px;
    }
  }

  @media (min-width: $vp-1150) {
    padding-bottom: 8px;
  }
}

.form-group__optional-input {
  width: 100%;
  min-height: 142px;
  padding: 17px;

  font-size: 19px;
  line-height: 18px;
  color: $color-charcoal;

  border: 2px solid $color-charcoal;

  resize: none;

  &::placeholder {
    font-size: 17px;
    line-height: 18px;
    color: $color-default-black;

    opacity: 0.3;
  }

  &:hover {
    border-color: $color-downy-mod;
  }

  &:focus {
    border-color: $color-downy-mod;
    outline: none;
  }

  &:active {
    border-color: $color-downy-mod;
  }

  &:disabled {
    border-color: rgba($color-charcoal, 0.1);
  }

  &:disabled::placeholder {
    opacity: 0.1;
  }

  @media (min-width: $vp-768) {
    &::placeholder {
      font-size: 19px;
    }
  }
}

.form-group__type-item {
  display: flex;
  align-items: center;
  min-height: 52px;
}

.form-group__type-item .form-group__control {
  display: flex;
}

.form-group__color-item .form-group__control {
  display: flex;
}

.form-group__type-item:not(:last-child) {
  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.form-group__color-item {
  display: flex;
  align-items: center;
  min-height: 52px;

  @media (min-width: $vp-768) {
    min-width: 210px;
  }
}

.form-group__color-item:not(:last-child) {
  margin-bottom: 9px;

  @media (min-width: $vp-768) {
    margin: 0;
  }
}

.form-group__full-name-item:not(:last-child) {
  margin-bottom: 16px;

  @media (min-width: $vp-768) {
    margin-bottom: 24px;
  }
}
