.header {
  @media (min-width: $vp-768) {
    position: relative;

    padding: 0 50px;
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
  margin-bottom: 22px;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 22px;
    left: 48px;
    z-index: 1;

    margin: 0;
  }

  @media (min-width: $vp-1150) {
    top: 9px;
    left: 50%;

    transform: translateX(-50%);
  }
}
