.header {
  min-height: 79px;
  overflow: hidden;

  @media (min-width: $vp-768) {
    min-height: 133px;

    background-color: $color-snow;

    &--inner-page {
      background-color: $color-white-smoke;
    }
  }
}

.header__nav-wrapper {
  position: absolute;
  z-index: 1;

  width: 100%;

  background-color: $color-default-white;

  @media (min-width: $vp-768) {
    position: static;

    padding: 0;

    background-color: transparent;

    grid-template-areas: "user-nav user-nav"
    "site-nav delivery";
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $vp-1150) {
    grid-template-areas: "site-nav user-nav"
    "new-sale-nav delivery";
  }
}

.header__nav {
  width: 100%;

  & .header__nav-wrapper {
    display: none;
  }

  &--open .header__nav-wrapper {
    display: block;
  }

  &--open .header__nav-toggle {
    top: 29px;
    right: 30px;

    width: 21px;
    height: 20px;

    background-image: url("../img/svg/nav-toggle-close.svg");
  }

  @media (max-width: $vp-768) {
    &--nojs .header__nav-wrapper {
      position: static;

      display: block;
    }

    &--nojs .header__nav-toggle {
      display: none;
    }
  }

  @media (min-width: $vp-768) {
    & .header__nav-wrapper {
      display: grid;
    }
  }
}

.header__logo-wrapper {
  display: flex;
  justify-content: center;
  padding: 22px 0;

  box-shadow: 0 1px 0 $color-whisper, inset 0 -1px 0 $color-whisper;

  @media (min-width: $vp-768) {
    position: relative;
    padding: 0;

    box-shadow: none;
  }
}

.header__logo {
  z-index: 2;

  & img {
    display: block;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    position: absolute;
    top: 22px;
    left: 50px;

    padding: 0;

    box-shadow: none;
  }

  @media (min-width: $vp-1150) {
    top: 9px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.header__nav-toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  z-index: 3;

  width: 20px;
  height: 14px;

  background: transparent;
  background-image: url("../img/svg/nav-toggle-open.svg");
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  @media (min-width: $vp-768) {
    display: none;
  }
}

.header__site-nav {
  position: relative;
  z-index: 1;

  margin: 0;
  padding: 0;

  list-style: none;

  grid-area: site-nav;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 25px 0 50px;

    column-gap: 38px;
  }

  @media (min-width: $vp-1150) {
    padding: 0 100px 0 0;

    column-gap: 74px;
  }
}

.header__site-nav-link {
  z-index: 1;

  display: block;
  padding: 27px 30px 27px 23.75%;

  font-weight: 700;
  color: inherit;
  text-decoration: none;

  box-shadow: 0 1px 0 $color-whisper, inset 0 1px 0 $color-whisper;

  &:hover {
    color: rgba($color-default-black, 0.6);
  }

  &:active {
    color: rgba($color-default-black, 0.3);
  }

  @media (min-width: $vp-768) {
    padding: 0;

    font-size: 15px;

    box-shadow: none;
  }

  @media (min-width: $vp-1150) {
    padding: 32px 0;

    font-size: 17px;
  }
}

.header__site-nav-item:first-child .header__site-nav-link {
  box-shadow: 0 1px 0 $color-whisper;

  @media (min-width: $vp-768) {
    box-shadow: none;
  }
}

.header__site-nav-item:not(:first-child) .header__site-nav-link {
  position: relative;
  @media (min-width: $vp-1150) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -35px;

      width: 1px;
      height: 100%;

      background-color: $color-whisper;
    }
  }
}

.header__user-nav {
  position: relative;

  margin: 0;
  padding: 0;

  list-style: none;

  grid-area: user-nav;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    max-width: 51.98%;
    margin-left: auto;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: -100vw;
      z-index: 0;

      width: 200vw;
      height: 100%;

      background-color: $color-default-white;
      box-shadow: 0 1px 0 $color-whisper;
    }
  }

  @media (min-width: $vp-1150) {
    max-width: 100%;
    padding: 0 0 0 100px;
  }
}

.header__user-nav-link {
  position: relative;
  z-index: 1;

  display: block;
  padding: 28px 30px 28px 23.75%;

  font-weight: 700;
  color: inherit;
  text-decoration: none;

  box-shadow: 0 1px 0 $color-whisper, inset 0 1px 0 $color-whisper;

  &:hover {
    color: rgba($color-default-black, 0.6);
  }

  &:hover svg {
    opacity: 1;

    fill: $color-downy;
  }

  &:active {
    color: rgba($color-default-black, 0.3);
  }

  &:active svg {
    fill: rgba($color-downy, 0.3);
  }


  @media (min-width: $vp-768) {
    min-height: 88px;
    padding: 32px 0 32px 84px;

    box-shadow: -1px 0 0 0 $color-whisper;
  }
}

.header__user-nav-link--find-icon svg {
  position: absolute;
  top: 32px;
  left: 32px;

  @media (min-width: $vp-768) {
    top: 35px;
    left: 50%;

    transform: translateX(-50%);
  }
}

.header__user-nav-link--cart-icon {
  @media (min-width: $vp-768) {
    padding-right: 50px;
  }

  @media (min-width: $vp-1150) {
    padding-right: 0;
  }
}

.header__user-nav-link--cart-icon svg {
  position: absolute;
  top: 31px;
  left: 30px;

  @media (min-width: $vp-768) {
    top: 35px;
    left: 31px;
  }
}

.header__user-nav-find-text {
  @media (min-width: $vp-768) {
    display: none;
  }
}

.header__new-sale-nav {
  display: none;
  margin: 0;
  padding: 0;

  list-style: none;

  grid-area: new-sale-nav;

  @media (min-width: $vp-1150) {
    display: flex;
    flex-wrap: wrap;
    padding: 21px 50px 0 0;

    column-gap: 65px;
  }
}

.header__new-sale-nav-link {
  display: block;

  font-weight: 700;
  color: inherit;
  text-decoration: none;

  &:hover {
    color: rgba($color-default-black, 0.6);
  }

  &:active {
    color: rgba($color-default-black, 0.3);
  }

  @media (min-width: $vp-768) {
    padding: 0;

    font-size: 15px;
  }
}

.header__delivery {
  display: none;

  grid-area: delivery;

  @media (min-width: $vp-768) {
    display: block;
    padding: 21px 50px 0 25px;

    font-size: 15px;
    color: $color-charcoal;
    text-align-last: right;
  }

  @media (min-width: $vp-1150) {
    padding: 21px 0 0 50px;
  }
}
