.index-intro {
  background-color: $color-snow;
  background-image: url("../img/intro-mobile@2x1.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $vp-768) {
    min-height: 746px;
  }

  @media (min-width: $vp-1150) {
    padding: 0 50px;
  }
}

.index-intro__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 489px;

  @media (min-width: $vp-768) {
    min-height: 757px;
  }

  @media (min-width: $vp-1150) {
    min-height: 762px;
  }
}

.index-intro__title {
  margin: 0;
  padding: 73px 30px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 155px 100px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 158px 225px;

    font-size: 53px;
    line-height: 57px;
  }
}

.index-intro__delivery {
  display: none;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 21px;
    right: 50px;

    display: block;

    font-size: 15px;
    color: $color-charcoal;
  }

  @media (min-width: $vp-1150) {
    right: 0;
  }
}

.index-intro__list {
  margin: auto 0 0 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    margin-right: 50px;
    margin-left: 50px;
  }
}

.index-intro__item:nth-child(odd) {
  background-color: $color-downy;
}

.index-intro__item:nth-child(even) {
  background-color: $color-puerto-rico;
}

.index-intro__item {
  position: relative;
  width: 100%;
}

.index-intro__link {
  display: block;
  min-height: 103px;
  padding: 24px 30px;

  font-weight: 700;
  font-size: 19px;
  color: $color-default-white;
  text-decoration: none;

  &--interior::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;

    background-image: url("../img/index-intro-interior.svg");
  }

  &--toy::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;

    background-image: url("../img/index-intro-toy.svg");
  }

  @media (min-width: $vp-768) {
    padding: 25px 167px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    padding: 25px 350px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }
}
