.index-intro {
  position: relative;

  background-color: $color-snow;
  background-image: url("../img/jpg/index-intro-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/jpg/index-intro-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $vp-768) {
    background-image: url("../img/jpg/index-intro-tablet@1x.jpg");
    background-position: center -35px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/index-intro-tablet@2x.jpg");
      background-size: 768px auto;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;

      width: 100%;
      height: 24px;

      background-image: url("../img/svg/intro-divider-tablet.svg");
    }
  }

  @media (min-width: $vp-1150) {
    background-image: url("../img/jpg/index-intro-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/index-intro-desktop@2x.jpg");
      background-size: 1150px auto;
    }

    &::after {
      height: 24px;

      background-image: url("../img/svg/intro-divider-desktop.svg");
    }
  }
}

.index-intro__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 489px;

  @media (min-width: $vp-768) {
    min-height: 712px;
  }

  @media (min-width: $vp-1150) {
    min-height: 719px;
  }
}

.index-intro__title {
  margin: 0;
  padding: 73px 30px;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $vp-768) {
    padding: 110px 50px 155px;

    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 114px 50px 158px;

    font-size: 53px;
    line-height: 57px;
  }
}

.index-intro__delivery {
  display: none;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 21px;
    right: 50px;

    display: block;

    font-size: 15px;
    color: $color-charcoal;
  }

  @media (min-width: $vp-1150) {
    right: 0;
  }
}

.index-intro__list {
  margin: auto 0 0 0;
  padding: 0;

  list-style: none;

  @media (min-width: $vp-768) {
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
    margin-left: 50px;
  }

  @media (min-width: $vp-1150) {
    margin: auto 0 0 0;
  }
}

.index-intro__item:nth-child(odd) {
  background-color: $color-downy;

  & .index-intro__link:hover {
    background-color: $color-downy-alter;
    transform: translateY(-5px);
  }

  & .index-intro__link:hover::after {
    opacity: 0.7;
  }

  & .index-intro__link:active::after {
    opacity: 0.3;
  }
}

.index-intro__item:nth-child(even) {
  background-color: $color-puerto-rico;

  & .index-intro__link:hover {
    background-color: $color-puerto-rico-mod;
    transform: translateY(-5px);
  }

  & .index-intro__link:hover::after {
    opacity: 0.7;
  }

  & .index-intro__link:active::after {
    opacity: 0.3;
  }
}

.index-intro__item {
  position: relative;

  width: 100%;

  @media (min-width: $vp-768) {
    width: 50%;
  }
}

.index-intro__link {
  display: block;
  min-height: 103px;
  padding: 24px 30px;

  font-weight: 700;
  font-size: 19px;
  color: $color-default-white;
  text-decoration: none;

  &--interior::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 36px;

    width: 40px;
    height: 62px;

    background-image: url("../img/svg/index-intro-interior.svg");
    opacity: 0.5;
  }

  &--toy::after {
    content: "";
    position: absolute;
    top: 21px;
    right: 27px;

    width: 60px;
    height: 60px;

    background-image: url("../img/svg/index-intro-toy.svg");
    opacity: 0.5;
  }

  @media (min-width: $vp-768) {
    padding: 25px 167px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    padding: 25px 350px 34px 36px;

    font-size: 20px;
    line-height: 30px;
  }
}
