.inner-intro {
  position: relative;

  background-color: $color-white-smoke;

  @media (min-width: $vp-768) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 1;

      width: 100%;
      height: 24px;

      background-image: url("../img/svg/intro-divider-tablet.svg");
    }
  }

  @media (min-width: $vp-1150) {
    &::after {
      height: 34px;

      background-image: url("../img/svg/inner-intro-divider-desktop.svg");
    }
  }
}

.inner-intro__wrapper {
  position: relative;

  min-height: 177px;
  padding: 73px 30px;

  text-align: center;

  @media (min-width: $vp-768) {
    min-height: 194px;
    padding: 57px 50px;
  }

  @media (min-width: $vp-1150) {
    min-height: 228px;
  }
}

.inner-intro__title {
  margin: 0;

  font-weight: 700;
  font-size: 27px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.inner-intro__delivery {
  display: none;

  @media (min-width: $vp-768) {
    position: absolute;
    top: 21px;
    right: 0;

    display: block;

    font-size: 15px;
    color: $color-charcoal;
  }
}
