.modal-window {
  padding: 30px 30px 46px;

  outline: 1px solid $color-silver;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $vp-768) {
    width: 566px;
    padding: 38px 106px 46px;
  }
}

.modal-window__title {
  margin: 0 0 14px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    margin-bottom: 11px;

    font-size: 30px;
    line-height: 57px;
  }
}

.modal-window__text {
  display: block;
  margin-bottom: 22px;

  font-size: 15px;
  line-height: 30px;
  text-align: center;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin-bottom: 20px;

    font-size: 17px;
  }
}

.modal-window__list {
  @include list-reset;

  display: grid;
  margin-bottom: 31px;

  gap: 7px;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: $vp-768) {
  }
}

.modal-window__control {
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
}

.modal-window__control-input {
  display: none;
}

.modal-window__control-mark {
  display: block;
  padding: 18px 0;

  font-size: 17px;
  line-height: 16px;
}

.modal-window__button {
  width: 100%;
}
