.navigation {
  position: relative;
}

.navigation .navigation__menu {
  display: none;

  @media (min-width: $vp-768) {
    display: flex;
  }

  @media (min-width: $vp-1150) {
    justify-content: space-between;
  }
}

.navigation--open .navigation__menu {
  position: absolute;
  top: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: $color-default-white;

  @media (min-width: $vp-768) {
    position: static;

    flex-direction: row;
    justify-content: space-between;
  }
}

.navigation__new-sale-list {
  display: none;

  @media (min-width: $vp-1150) {
    @include list-reset;

    position: absolute;
    top: calc(100% + 20px);
    left: 0;
    z-index: 1;

    display: flex;
    max-width: 770px;

    gap: 63px;
  }
}

.navigation__new-sale-list-link {
  @media (min-width: $vp-1150) {
    font-weight: 700;
    font-size: 15px;
    color: $color-default-black;
    text-decoration: none;
  }
}

.navigation__toggle {
  @media (min-width: $vp-768) {
    display: none;
  }
}
