.order-form {
  padding: 17px 30px 55px;

  @media (min-width: $vp-768) {
    padding: 54px 0 47px;
  }

  @media (min-width: $vp-1150) {
    padding: 99px 0 47px;
  }
}

.order-form__intro-text {
  margin: 0 0 25px;

  font-size: 13px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 0 50px 13px;

    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $vp-1150) {
    margin: 0 175px 13px 175px;

    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__customer-info-wrapper {
  @media (min-width: $vp-768) {
    padding: 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 50px 225px 50px 114px;
  }
}

.order-form__accept-form-wrapper {
  @media (min-width: $vp-768) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
  }

  @media (min-width: $vp-1150) {
    padding: 0 175px;
  }
}

.order-form__info-text {
  display: block;
  margin: 0 0 30px;

  font-size: 14px;
  line-height: 16px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    order: 1;
    margin: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

.order-form__button {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 18px;

  font-size: 17px;
  line-height: 16px;

  @media (min-width: $vp-768) {
    width: 34.43%;
    margin: 0;
  }

  @media (min-width: $vp-1150) {
    width: 32.86%;
    margin: 0;
  }
}
