.reviews {
  padding: 30px 30px 45px;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 82px 50px 132px;

    background-image: url("../../img/reviews-background.jpg");
    background-repeat: no-repeat;

    grid-template-areas: "title . write-button"
                         "text text text"
                         "author . slider-buttons";
    grid-template-columns: max-content 1fr 175px;
  }

  @media (min-width: $vp-1150) {
    padding: 78px 50px 163px 175px;
  }
}

.reviews__title {
  margin: 0 0 14px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    margin: 0;

    font-size: 43px;
    line-height: 50px;

    grid-area: title;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin: 0 0 33px;

  font-size: 15px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 40px 0 61px;

    font-size: 17px;

    grid-area: text;
  }

  @media (min-width: $vp-1150) {
    margin: 39px 70px 44px 0;
  }
}

.reviews__author-info {
  display: block;
  margin-bottom: 30px;

  @media (min-width: $vp-768) {
    margin: 0;

    grid-area: author;
  }
}

.reviews__author-name {
  display: block;

  font-style: normal;
  font-weight: 700;

  @media (min-width: $vp-768) {
    font-size: 18px;
  }

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.reviews__author-mail {
  display: block;

  font-style: normal;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 18px;
  }

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.reviews__slider-buttons {
  display: flex;
  margin-bottom: 38px;

  @media (min-width: $vp-768) {
    margin: 0;

    grid-area: slider-buttons;
  }
}

.reviews__slider-button {
  display: block;
  width: 100%;
  min-height: 52px;

  background-color: $color-default-white;
  border: 1px solid $color-whisper;
  cursor: pointer;
}

.reviews__write-button {
  display: block;

  @media (min-width: $vp-768) {
    align-self: center;

    grid-area: write-button;
  }
}
