.reviews {
  padding: 29px 30px 51px 30px;

  @media (min-width: $vp-768) {
    padding: 77px 50px 137px;
  }

  @media (min-width: $vp-1150) {
    padding: 78px 50px 190px 224px;
  }
}

.reviews__wrapper {
  @media (min-width: $vp-768) {
    position: relative;

    display: grid;

    grid-template-areas: "title . write-button"
    "text text text"
    "author . slider-buttons";
    grid-template-columns: max-content 1fr 0.73fr;

    &::before {
      content: "";
      position: absolute;
      top: -83px;
      left: -50px;
      z-index: -1;

      width: 350px;
      height: 457px;

      background-image: url("../img/background/reviews/reviews-tablet&desktop@1x.jpg");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background/reviews/reviews-tablet&desktop@2x.jpg");
        background-size: 350px auto;
      }
    }
  }

  @media (min-width: $vp-1150) {
    grid-template-columns: max-content 1fr 0.38fr;

    &::before {
      left: -174px;
    }
  }
}

.reviews__title {
  margin: 0 0 14px;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;

  @media (min-width: $vp-768) {
    align-self: end;
    margin: 0;

    font-size: 43px;
    line-height: 50px;

    grid-area: title;
  }

  @media (min-width: $vp-1150) {
    font-size: 53px;
    line-height: 57px;
  }
}

.reviews__text {
  margin: 0 0 33px;

  font-size: 15px;
  line-height: 30px;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    margin: 41px 0 61px;

    font-size: 17px;

    grid-area: text;
  }

  @media (min-width: $vp-1150) {
    margin: 34px 70px 44px 0;
  }
}

.reviews__author-info {
  display: block;
  margin-bottom: 33px;

  @media (min-width: $vp-768) {
    margin: 0;

    grid-area: author;
  }
}

.reviews__author-name {
  display: block;
  margin-bottom: 4px;

  font-style: normal;
  font-weight: 700;

  @media (min-width: $vp-768) {
    font-size: 18px;
  }

  @media (min-width: $vp-1150) {
    font-size: 17px;
  }
}

.reviews__author-mail {
  display: block;

  font-style: normal;
  color: $color-charcoal;

  @media (min-width: $vp-768) {
    font-size: 18px;
  }

  @media (min-width: $vp-768) {
    font-size: 17px;
  }
}

.reviews__slider-buttons {
  display: flex;
  max-width: 400px;
  margin: 0 auto 38px;

  @media (min-width: $vp-768) {
    margin: 0;

    grid-area: slider-buttons;
  }
}

.reviews__slider-button {
  position: relative;

  display: block;
  width: 100%;
  min-height: 52px;

  background-color: $color-default-white;
  border: 1px solid $color-whisper;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 50px;
    height: 26px;

    background-image: url("../img/background/reviews/reviews-arrow.svg");
    transform: translateX(-50%) translateY(-50%);
  }

  &--next::before {
    transform: translateX(-50%) translateY(-50%) rotate(180deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $vp-768) {
    border: none;

    &::before {
      top: 55%;
    }
  }
}

.reviews__write-button {
  display: block;
  max-width: 400px;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    margin: 0;

    grid-area: write-button;
  }

  @media (min-width: $vp-1150) {
    align-self: start;
  }
}
