.zigzag {
  background-image: url("../img/background/common/zigzag-mobile.svg");
  background-repeat: repeat-x;

  background-position: bottom;

  @media (min-width: $vp-768) {
    background-image: url("../img/background/common/zigzag-tablet.svg");
  }

  @media (min-width: $vp-1150) {
    background-image: url("../img/background/common/zigzag-desktop.svg");
    background-repeat: no-repeat;
  }
}
