*,
*::after,
*::before {
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

html {
  font-family: $ff-open-sans;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: $color-default-black;
  margin: 0;
  padding: 0;
  height: 100vh;
}
