// Vendor
//--------------------------------------

@import "vendor/normalize.scss";

// Global
//--------------------------------------

@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/reboot.scss";
@import "global/utils.scss";
@import "global/container.scss";

// Blocks
//--------------------------------------

@import "blocks/about.scss";
@import "blocks/button.scss";
@import "blocks/catalog.scss";
@import "blocks/contacts.scss";
@import "blocks/demonstration.scss";
@import "blocks/footer.scss";
@import "blocks/form-group.scss";
@import "blocks/header.scss";
@import "blocks/index-intro.scss";
@import "blocks/inner-intro.scss";
@import "blocks/modal-window.scss";
@import "blocks/navigation.scss";
@import "blocks/order-form.scss";
@import "blocks/product.scss";
@import "blocks/reviews.scss";
@import "blocks/site-list.scss";
@import "blocks/user-list.scss";
